:root {
  --green: #1BA479;
  --greenDark: #12845E;
  --yellow: #F1A820;
  --purple: #40263E;
  --purpleHover: #331e32;
  --red: #BB262F;
  --redDark: #A31F2C;
  --orange: #F05630;
  --orangeDark: #D14428;

  --body: #130b12;
  --sideBoard: #251623;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  background: var(--body);
  flex-flow: column;
  padding: 1rem;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
header img {
  width: 34rem;
}

/*+++++++++++*/
  /*MASTER*/
/*+++++++++++*/
.master-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}
.screen {
  display: none;
  padding: 1rem;
  flex: 1;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.screen.active {
  display: flex;
}
button.screen-nav-btn {
  cursor: pointer;
  border: none;
  outline: none;
  padding: .5rem 1rem;
  margin: .5rem;
  border-radius: 3px;
}
.sideBoard {
  position: relative;
  border-radius: 5px;
  background: var(--sideBoard);
  width: 15%;
}

/*+++++++++++*/
  /*HOME SCREEN*/
/*+++++++++++*/
#home-screen {
  flex-flow: column;
}
#home-screen button {
  cursor: pointer;
  border: none;
  outline: none;
  padding: .5rem 1rem;
  margin: .5rem;
  border-radius: 3px;
}

/*Game Mode Buttons*/
#gameModeOptions {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 2rem;
}
#gameModeOptions h3 {
  color: #fff;
  margin-bottom: 1rem;
}
#gameModeOptions .btn-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
#gameModeOptions button {
  color: #fff;
  cursor: pointer;
  transition: all .3s ease;
}
#gameModeOptions button[disabled="true"] {
  opacity: 0.6;
  pointer-events: none;
}
#gameModeOptions button.easy {
  background: var(--green);
}
#gameModeOptions button.medium {
  background: var(--orange);
}
#gameModeOptions button.hard {
  background: var(--red);
}
#gameModeOptions button.easy:hover {
  background: var(--greenDark);
}
#gameModeOptions button.medium:hover {
  background: var(--orangeDark);
}
#gameModeOptions button.hard:hover {
  background: var(--redDark);
}
#gameModeOptions button i {
  margin-right: .5rem;
  pointer-events: none;
}
#gameModeOptions button.easy i {
  color: var(--greenDark);
}
#gameModeOptions button.medium i {
  color: var(--orangeDark);
}
#gameModeOptions button.hard i {
  color: var(--redDark);
}
#gameModeOptions button:hover i,
#gameModeOptions button.active i {
  color: var(--yellow);  
  transform: scale(1.1);
}
/*Game Mode Message*/
.newGameMessage {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-top: 1rem;
}

/*Player Details*/
.player-details {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 1rem;
}
.player-details h3 {
  color: #fff;
  margin-bottom: .5rem;
}
.player-details input {
  border: none;
  margin-bottom: 1rem;
  padding: .25rem .5rem;
  outline: none;
  border: 1px solid transparent;
  color: #fff;
  background: #67275f;
}
.player-details input:focus {
  border: 1px solid var(--yellow);
}
.player-details input[disabled="true"] {
  opacity: 0.6;
}

/*+++++++++++*/
  /*RULES SCREEN*/
/*+++++++++++*/
#rules-screen {
  flex-flow:column;
}
.rules {
  margin-bottom: 2rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 50%;
}
.rules h3 {
  color: #fff;
  margin-bottom: .5rem;
}
.rules p.win {
  color: #fff;
  margin-bottom: 1.5rem;
}
.rules h4 {
  color: var(--yellow);
}
.rules ol {
  color: #fff;
}
.rules ol li {
  margin-bottom: .5rem;
}
.rules ol li span {
  color: var(--red);
}

/*+++++++++++*/
  /*GAME SCREEN*/
/*+++++++++++*/
#game-screen {
  grid-template-columns: 1fr 4fr 1fr;
  width: 100%;
  height: 100%;
  grid-template-rows: 3;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  perspective: 1000px;
}
#game-screen.active {
  display: grid;
}
.memory-card {
  height: 100%;
  position: relative;
  box-shadow: 1px 1px 1px rgba(37, 21, 36, 0.8);
  transform: scale(1);
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform .5s;
}
.memory-card.active {
  transform: scale(0.97);
  transition: all .2s;
}
.memory-card.flip {
  transform: rotateY(180deg);
}
.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 1rem;
  position: absolute;
  border-radius: 5px;
  background: var(--purple);
  backface-visibility: hidden;
}
.front-face {
  transform: rotateY(180deg);
}
.memory-card:hover .back-face {
  background: var(--purpleHover);
}

/*+++++++++++*/
  /* PLAYERBOARD -> left sideboard */
/*+++++++++++*/
/* Options Menu */
#options-menu {
  display: flex;
  flex-flow: column;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: all .3s ease-in-out;
  transform: translateY(15vh);
}
#options-menu.open {
  transform: none;
}
#options-menu #options-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #5a3955;
  padding: .5rem 1rem;
  cursor: pointer;
}
#options-menu #options-header i {
  cursor: pointer;
  transition: all .3s ease-in-out;
  color: white;
  pointer-events: none;
}
#options-menu #options-header:hover i {
  transform: rotate(360deg);
}
#options-menu .options-body {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 15vh;
  padding: 1rem;
  background: #3a2335;
}
#options-menu .options-body button {
  width: 100%;
  margin: .25rem 0;
  padding: .5rem 1rem;
  border-radius: 3px;
  border: none;
  color: white;
  background: #5a3955;
  transition: all .3s ease;
  cursor: pointer;
}
#options-menu .options-body button:hover {
  background: #50314c;
}