:root {
  --green: #1BA479;
  --greenDark: #12845E;
  --yellow: #F1A820;
  --purple: #40263E;
  --purpleHover: #331e32;
  --red: #BB262F;
  --redDark: #A31F2C;
  --orange: #F05630;
  --orangeDark: #D14428;


  --body: #130b12;
  --sideBoard: #251623;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  background: var(--body);
  flex-flow: column;
  padding: 1rem;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
header img {
  width: 34rem;
}

/*Home Panel*/
.home-panel {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  transform: translate(-50%,-50%);
}
.home-panel button {
  cursor: pointer;
  border: none;
  outline: none;
  padding: .5rem 1rem;
  margin: .5rem;
  border-radius: 3px;
}

/*Game Mode Buttons*/
#gameModeBtns {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 2rem;
}
#gameModeBtns h3 {
  color: #fff;
  margin-bottom: 1rem;
}
#gameModeBtns .btn-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
#gameModeBtns button {
  color: #fff;
  cursor: pointer;
  transition: all .3s ease;
}
#gameModeBtns button.easy {
  background: var(--green);
}
#gameModeBtns button.medium {
  background: var(--orange);
}
#gameModeBtns button.hard {
  background: var(--red);
}
#gameModeBtns button.easy:hover {
  background: var(--greenDark);
}
#gameModeBtns button.medium:hover {
  background: var(--orangeDark);
}
#gameModeBtns button.hard:hover {
  background: var(--redDark);
}
#gameModeBtns button i {
  margin-right: .5rem;
}
#gameModeBtns button.easy i {
  color: var(--greenDark);
}
#gameModeBtns button.medium i {
  color: var(--orangeDark);
}
#gameModeBtns button.hard i {
  color: var(--redDark);
}
#gameModeBtns button:hover i {
  color: var(--yellow);  
  transform: scale(1.1);
}

/*Player Details*/
.player-details {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 2rem;
}
.player-details h3 {
  color: #fff;
  margin-bottom: .5rem;
}
.player-details input {
  border: none;
  margin-bottom: 1rem;
}

/*Rules*/
.rules {
  margin-bottom: 2rem;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.rules h3 {
  color: #fff;
  margin-bottom: .5rem;
}
.rules p.win {
  color: #fff;
  margin-bottom: 1.5rem;
}
.rules h4 {
  color: var(--yellow);
}
.rules ol {
  color: #fff;
}
.rules ol li {
  margin-bottom: .25rem;
}



/*Player Board*/
.game-wrap {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}
.sideBoard {
  background: purple;
  border-radius: 5px;
  background: #251623;
}
/*Game Board*/
.gameBoard {
  width: 100%;
  height: 70vh;
  margin: auto;
  display: grid;
  grid-template-rows: 3;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
  perspective: 1000px;
}
.memory-card {
  position: relative;
  box-shadow: 1px 1px 1px rgba(37, 21, 36, 0.8);
  transform: scale(1);
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform .5s;
}
.memory-card:active {
  transform: scale(0.97);
  transition: all .2s;
}
.memory-card.flip {
  transform: rotateY(180deg);
}
.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 1.25rem;
  position: absolute;
  border-radius: 5px;
  background: var(--purple);
  backface-visibility: hidden;
}
.front-face {
  transform: rotateY(180deg);
}
.memory-card:hover .back-face {
  background: var(--purpleHover);
}
